<form class="form-inline">
    <div class="form-group ">
        <select class="form-control" ng-model="tickerList" ng-change="ticker_list_changed(tickerList)">
            <option ng-repeat="tickerList in tickerLists" ng-value="tickerList">{{tickerList.name}}</option>
        </select>
        <input type="text" placeholder="From date" class="form-control" ng-model="fromDate" />
        <input type="text" placeholder="To date" class="form-control" ng-model="toDate" />
        <select class="form-control" ng-model="interval">
            <option ng-repeat="interv in intervals" ng-value="interv">{{interv}}</option>
        </select>
        <select class="form-control" ng-model="buySignalConfig">
            <option selected value="">Select buy signal</option>
            <option ng-repeat="signalConfig in buySignalConfigs" ng-value="signalConfig">{{signalConfig.name}}</option>
        </select>
        <select class="form-control" ng-model="sellSignalConfig">
            <option selected value="">Select sell signal</option>
            <option ng-repeat="signalConfig in sellSignalConfigs" ng-value="signalConfig">{{signalConfig.name}}</option>
        </select>
        <input value="Previous ticker" type="button" class="btn btn-primary " ng-click="previous_ticker()" />
        <input value="Next ticker" type="button" class="btn btn-primary " ng-click="next_ticker()" />
        <input value="Refresh" type="button" class="btn btn-primary" ng-click="load_chart()" />
    </div>
</form>
<techan-chart candles="candles" buy-indicies="buyIndicies" sell-indicies="sellIndicies" ticker-label="tickers[currentTickerIndex].name + ', ' + tickers[currentTickerIndex].symbol"></techan-chart>